.calc_wrapper
  .calc_main
    .calc_main__top
      カロリー計算
    -# 消費カロリー計算-------------------------------
    .calc_main__title
      消費カロリー計算
      = icon "far", "question-circle", class:"calculate_help", id:"burn_help"
    .calc_main__content
      .group
        .group__text
          性別
        .group__form
          %input{type:"radio", name:"gender", class:"gender", id:"man", value:"man"}
          男性
          %input{type:"radio", name:"gender", class:"gender", id:"woman", value:"woman"}
          女性
      .group
        .group__text
          年齢
        .group__form
          = select_tag 'age', options_for_select(["--",*18..100]), class:"calc_select", id:"age_select"
      .group
        .group__text
          体重
        .group__form
          %input.calc_form{type:"number", id:"weight_form"} kg
      .group
        .group__text
          生活指数
          = icon "far", "question-circle", class:"calculate_help", id:"life_index_help"
        .group__form
          = select_tag 'age', options_for_select(["--",*1.3,1.5,1.7,1.9]), class:"calc_select", id:"life_index_select"
      .group
        %button.calc-btn{id:"burn_calorie"} 計算する
      .group
        .group__text
          1日の消費カロリー
        .group__form
          %input.calc_result{type:"number", id:"burn_result"} kcal

      -# 摂取カロリー計算-------------------------------
      .calc_main__goal
        .calc_main__title
          摂取カロリー計算
          = icon "far", "question-circle", class:"calculate_help", id:"intake_help"
        .group
          .group__text
            目標体重
          .group__form
            %input.calc_form{type:"number", id:"goal_weight"} kg
        .group
          .group__text
            期間
          .group__form
            %input.calc_form{type:"number", id:"goal_day"} 日
        .group
          %button.calc-btn{id:"intake_calorie"} 計算する
        .group
          .group__text
            1日の目標カロリー
          .group__form
            %input.calc_result{type:"number", id:"intake_result"} kcal
