.header__top
  = link_to root_path,class:"link" do
    = icon 'fas','home',class:'home'
  - if user_signed_in?
    = link_to  user_path(current_user.id), class:"link" do
      =current_user.nickname
    = link_to destroy_user_session_path, method: :delete, class:"link" do
      ログアウト
  -else
    = link_to  new_user_registration_path, class:"link" do
      新規登録
    = link_to new_user_session_path, class:"link" do
      ログイン
