.modal-overlay

.modal_foods
  .modal_foods__top
    フードを追加
  %input.modal_foods__form{placeholder:"キーワード"}
  %ul.modal_foods__nutrition
    - @nutrition.each do |nutrition|
      %li.modal_foods__nutrition--block
        .ja
          = nutrition[:ja]
        .eng
          = nutrition[:eng]
  %ul.modal_foods__index
    - @foods.each do |food|
      %li.modal_foods__index__list
        .modal_foods__index__list__name
          = food.name
        %ul.modal_foods__index__list__data
          %li.modal_foods__index__list__data--num
            = food.calorie
          %li.modal_foods__index__list__data--num
            = food.carbo
          %li.modal_foods__index__list__data--num
            = food.fat
          %li.modal_foods__index__list__data--num
            = food.protein
        .modal_foods__index__list__plus
          = icon 'fas', 'plus-circle', class: 'plus'

  .modal_foods__new
    = link_to "#", class:"link" do
      新しいフードを追加

.modal_new
  .modal_new__top
    新しくフードを追加
    = form_with(model: @food) do |f|
      .modal_new__main__text
        名前
      = f.text_field :name, class:"modal_new__main__form", value:"ツナマヨ"
      .modal_new__main__text
        1人前の分量
      = f.text_field :quantity, class:"modal_new__main__form", value:"1個"
      - @nutrition.each do |nutrition|
        .modal_new__main__text
          = nutrition[:ja]
        = f.text_field nutrition[:column], class:"modal_new__main__form", value:20
      .modal_new__add
        = f.submit "追加する", class:"modal_new__add__bottun"
